body{
  background-color: rgba(1,155,162);
}

.center{
  margin: auto;
}

#outer{
  background-color: rgba(32,165,171);
}

#title{
  text-align: center;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: "Arial";
  margin-bottom: 0;
}

#timer{
  text-align: center;
  color: #FFFFFF;
  font-style: "Arial";
  font-size: 60px;
  margin-top: 0;
}
